{% extends 'base.html' %} 
 {% block titulo %}Inicio de Sesion{% endblock %} 
 {% block encabezado %}Inicio de Sesiòn{% endblock %} 
 {% block contenido %} 
 {%  if errores %}
<div class="container" id="errores">
    <div class="card bg-danger text-white">
        Errores encontrados:
    </div>
    <div class="alert alert-danger">
        <ol>
            {% for error in errores %}
            <li>
                {{ error }}
            </li>
            {% endfor %}
        </ol>
    </div>
</div>
{%  endif %}
<form action="/registro" method="POST">
    <div class="contenedor">
        <div class="row">
            <div class="col-md-12 login-form-header">
                <h5 class="login-form-font-header">
                    Inicio
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 login-from-row">
                <input class="controls" id="Nombre" name="Nombre" placeholder="Nombre" required="" type="text"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 login-from-row">
                <input class="controls" id="password" name="password" placeholder="Contraseña" required="" type="password"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 login-from-row">
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 login-from-row">
                <button class="btn btn-info">
                    Entrar
                </button>
            </div>
        </div>
    </div>
</form>
{% endblock %}
