{% extends 'base.html' %} 
 {% block titulo %}Regristro Usuarios{% endblock %} 
 {% block encabezado %}Registrar Usuarios{% endblock %} 
 {% block contenido %} 
 {%  if errores %}
<div class="container" id="errores">
    <div class="card bg-danger text-white">
        Errores encontrados:
    </div>
    <div class="alert alert-danger">
        <ol>
            {% for error in errores %}
            <li>
                {{ error }}
            </li>
            {% endfor %}
        </ol>
    </div>
</div>
{%  endif %}
<form action="/registro" method="POST">
    {% csrf_token %}
    <div class="contenedor">
        <div class="mb-3 mt-3">
            <label class="form-label" for="nombre" style="color:#000000">
                Nombre:
            </label>
            <input class="form-control" id="nombre" name="nombre" placeholder="Nombre del Alumno" type="text">
            </input>
        </div>
        <div class="mb-3 mt-3">
            <label class="form-label" for="matricula" style="color:#000000">
                Matricula:
            </label>
            <input class="form-control" id="matricula" name="matricula" placeholder="Matricula" type="text">
            </input>
        </div>
        <div class="mb-3 mt-3">
            <label class="form-label" for="contrasena" style="color:#000000">
                Contraseña:
            </label>
            <input class="form-control" id="contrasena" name="contrasena" placeholder="Contraseña" type="password">
            </input>
        </div>
        <button class="btn btn-primary" type="submit">
            Registrar
        </button>
    </div>
</form>
{% endblock %}
