{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="es-MX">
    <head>
        <link href="{% static '/home/sysadmin/Escritorio/PROYECTO3/Proyecto/serviciosWeb/static/css/login.css' %}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="/home/sysadmin/Escritorio/PROYECTO3/Proyecto/serviciosWeb/static/css/login.css" media="screen"/>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/login.css" media="screen"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
        <title id="tituloPrincipal">
            Servicios web
        </title>
    </head>

    <header id="cabeceraLogin" title="Cabecera de página">
        <p id="tituloCabecera"> ¡Bienvenido a la administración de servicios de red!</p>
    </header>

    <body id="cuerpoLogin">
        {% if errores %}
            <div class="panel panel-danger" id="errores">
                <div class="panel-heading">Falló el inicio de sesión</div>
                <div class="panel-body">
                    <ul>
                        {% for error in errores %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
        <h1 class="titulo" id="titulo1">Inicia sesión</h1></br>
        <section class="container" id="formularioSesion">
            <form method="POST" id="iniciarSesion">
                {% csrf_token %}
                <div class="row">
                    <div col="4">
                        <i class="fas fa-robot"></i>
                        <label for="usuario" ><h3>Usuario:</h3></label>
                    </div>
                    <div col="8">
                        <input type="text" id="usuario" name="usuario" title="Introduce el usuario administrador" placeholder="Ingresa tu usuario"/>
                    </div></br>
                </div>
                <div class="row">
                    <div col="4">
                        <i class="fas fa-key"></i>
                        <label for="password"><h3>Contraseña:</h3></label>
                    </div></br>
                    <div col="8">
                        <input type="password" id="password" name="password" title="Introduce la contraseña del administrador" placeholder="Ingresa tu contraseña"/>
                    </div>
                </div></br>
                <div class="row">
                    <input id="boton" title="Pulsa para iniciar sesion" type="submit" value="Iniciar sesión"/>
                </div>
            </form>
        </section>
    </body>
    <br></br>
    <footer id="main-footer" class="main-footer" title="Pie de página">
        <p id="pie">
            Universidad Veracruzana <br>
            Desarrollo de sistemas web
        </p>
    </footer>
</html>