{% extends 'base.html' %}
{% block titulo %}Registro Alumnos{% endblock %}
{% block encabezado %}Registrar Alumnos{% endblock %}
{% block contenido %}
{%  if errores %}
<div class="container" id="errores">
    <div class="card bg-danger text-white">
        Errores encontrados:
    </div>
    <div class="alert alert-danger">
        <ol>
            {% for error in errores %}
            <li>
                {{ error }}
            </li>
            {% endfor %}
        </ol>
    </div>
</div>
{%  endif %}
<form method="POST">
    {% csrf_token %}
    <div class="contenedor">
        <div class="mb-3 mt-3">
            <label class="form-label" for="nombre" style="color:#000000">
                Nombre:
            </label>
            <input class="form-control" id="nombre" name="nombre" placeholder="Nombre del Alumno" type="text">
            </input>
        </div>
        <div class="mb-3 mt-3">
            <label class="form-label" for="password" style="color:#000000">
                Contraseña:
            </label>
            <input class="form-control" id="password" name="password" placeholder="Contraseña" type="password">
            </input>
        </div>
        <div class="mb-3 mt-3">
            <label class="form-label" for="matricula" style="color:#000000">
                Matricula:
            </label>
            <input class="form-control" id="matricula" name="matricula" placeholder="Matricula" type="text">
            </input>
        </div>
        <div class="mb-3 mt-3">
            <label class="form-label" for="carrera" style="color:#000000">
                Carrera:
            </label>
            <input class="form-control" id="carrera" name="carrera" placeholder="Carrera" type="text">
            </input>
        </div>
        <div class="mb-3 mt-3">
            <label class="form-label" for="correo" style="color:#000000">
                Correo:
            </label>
            <input class="form-control" id="correo" name="correo" placeholder="Correo" type="text">
            </input>
        </div>
        <div class="mb-3 mt-3">
            <label class="form-label" for="chatId" style="color:#000000">
                ChatId:
            </label>
            <input class="form-control" id="chatId" name="chatId" placeholder="Chat Id Telegram" type="password">
            </input>
        </div>
        <div class="mb-3 mt-3">
            <label class="form-label" for="token" style="color:#000000">
                Token:
            </label>
            <input class="form-control" id="token" name="token" placeholder="Token de Telegram" type="password">
            </input>
        </div>
        <button class="btn btn-primary" type="submit">
            Registrar
        </button>
    </div>
</form>
{% endblock %}