{% extends 'base.html' %}
{% block titulo %}Crear ejercicio{% endblock %}
{% block encabezado %}Crear ejercicio{% endblock %}
{% block contenido %}
{%  if errores %}
<div class="container" id="errores">
    <div class="card bg-danger text-white">
        Errores encontrados:
    </div>
    <div class="alert alert-danger">
        <ol>
            {% for error in errores %}
            <li>
                {{ error }}
            </li>
            {% endfor %}
        </ol>
    </div>
</div>
{%  endif %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="contenedor">
        <div class="mb-3 mt-3">
            <label for="titulo">Introduce el titulo del ejercicio</label>
           <input type="text" name="titulo"><br>
        </div>
        <div class="mb-3 mt-3">
            <label for="descripcion">Introduce la descripcion del ejercicio</label>
           <input type="text" name="descripcion"><br>
        </div>
        <div class="mb-3 mt-3">
            <label for="entradaprueba">Introduce la entrada de prueba</label>
           <input type="text" name="entradaprueba"><br>
        </div>
        <div class="mb-3 mt-3">
            <label for="salidaesperada">Introduce la salida esperada</label>
           <input type="text" name="salidaesperada"><br>
        </div>
        <div class="mb-3 mt-3">
            <label for="scriptin">Carga el script de inicializacion</label><br>
            <input type="file" name="scriptini"><br>
        </div>
        <div class="mb-3 mt-3">
            <label for="sscriptcome">Carga el script de comprobacion de estado final</label><br>
            <input type="file" name="scriptcomef"><br>
        </div>
        <div class="mb-3 mt-3">
            <label for="sscriptcome">Carga el script de comprobacion de parametros</label><br>
            <input type="file" name="scriptcomp"><br>
        </div>
         {% csrf_token %}
         <input type="submit" value="Subir">
    </div>
</form>
{% endblock %}
