<!DOCTYPE html>

<html lang="es-MX">
   <head>
      <title>Subir ejercicio</title>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width,initial-scale=1.0" />
      <h1>Subir ejercicio</h1>
   </head>
   <body>
    <div>
      <h3>Estos son los ejercicios disponibles</h3>
    </div>
    <table>
      <tr>
        <th>Titulo</th>
        <th>Descripcion</th>
        <th>entradaPrueba</th>
        <th>salidaEsperada</th>
        <th>scriptInicial</th>
        <th>scriptComprobacionEF</th>
        <th>scriptComprobacionP</th>   
      </tr>
      {% for dato in ejercicios %}
      <tr>
        <td>{{ dato.titulo }}</td>
        <td>{{ dato.descripcion }}</td>
        <td>{{ dato.entradaPrueba }}</td>
        <td>{{ dato.salidaEsperada }}</td>
        <td>{{ dato.scriptInicial }}</td>
        <td>{{ dato.scriptComprobacionEF }}</td>
        <td>{{ dato.scriptComprobacionP }}</td>
      </tr>
    
      {% endfor %}
    </table>
  </body>
   <div class="row">
      <a class=" text-white" href="logout">Salir</a>
   </div>
</html> 
