{% extends 'base.html' %}
{% block titulo %}Subir ejercicio{% endblock %}
{% block encabezado %}Subir ejercicio{% endblock %}
{% block contenido %}
{%  if prueba %}
<div class="container" id="prueba">
    <div class="card bg-info text-white">
        Info Prueba:
    </div>
    <div class="alert alert-info">
        <ol>
            {% for error in prueba %}
            <li>
                {{ error }}
            </li>
            {% endfor %}
        </ol>
    </div>
</div>
{%  endif %}
<h2>Ejercicio: {{ejercicio.titulo}}</h2>
<h4> Descripcion: {{ejercicio.descripcion}}</h4>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="contenedor">
    <div class="mb-3 mt-3">
            <label class="form-label" for="scriptalumno" style="color:#000000">
                Carga el script del ejercicio:
            </label>
            <input class="form-control" id="scriptalumno" name="scriptalumno" type="file">
            </input>
        </div>
        <button class="btn btn-primary" type="submit">
            Subir
        </button>
    </div>
</form>
{% endblock %}