<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>lista ejercicios</title>
	<style>
      table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      border: 1px solid #ddd;
      }

      th, td {
      text-align: left;
      padding: 8px;
      }

      tr:nth-child(even){background-color: #f2f2f2}
    </style>
</head>
<body>
	<div>
      <h3> pagina ejerciciosmaestros_list.html</h3>
      <h1>Ejercicios </h1>
    </div>
    <table>
     	<tr>
	        <th>Titulo</th>
	        <th>Descripcion</th>
      	</tr>
        {% if ejerciciosmaestros_list %}
      	{% for dato in ejerciciosmaestros_list %}
      	<tr>
        	<td><a class=" text-white" href="{{dato.get_absolute_url}}">{{ dato.titulo }}</a></td>
        	<!--<td><a class=" text-white" id="demo" onclick="subir_ejercicio">{{ dato.titulo }}</a></td>-->
        	<td>{{ dato.descripcion }}</td>
      	</tr>
      	{% endfor %}
        {% else %}
          <h2>No hay ejercicios disponibles</h2>
        {%endif%}
    </table>
	<div class="row">
    	<a class=" text-white" href="/logout">Salir</a>
 	</div>
</body>
</html>